.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 744px;
  margin: 64px auto;
}

.item_content{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 24px 0;
}

.name{
    margin-left: 24px;
    font-size: 22px;
    color:  #1C1C1C;
}

.title{
 width: 616px;
    margin-left: 24px;
    font-size: 18px;
    color:  #1C1C1C;

}

.btn_plus {
    border: none;
    background-image: url('./icons/Plus.png');
    width: 32px;
    height: 32px;
}

.btn_minus {
    border: none;
    background-image: url('./icons/Minus.png');
    width: 32px;
    height: 32px;
}

.btn:hover {
cursor: pointer;
}

.albums_list{
margin-left: 64px;
}